body {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	color: #696969;
	background: #fdfcfb;
	font-weight: normal;
}

img {
	max-height: 100%;
	max-height: auto;
}

.navbar-light .navbar-nav .nav-link{
 text-transform: uppercase;
}

header {
	margin: 60px 0 40px;
}

.menu {
	background: #808080;
	box-shadow: 0 0 5px rgba(0, 0, 0, .19);
}

.navbar-expand-lg .navbar-nav {
color: #808080;
font-size: 20px;
text-transform: uppercase;
}

.navbar-light .navbar-nav .active-link>.nav-link {
	border-bottom: 1px solid #000000;
}

.slogan {
text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {

}